// design 요소 적용
// ------------------------------------------------------------

// 메뉴아이콘 디자인
@mixin menu-trigger {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:4px; width:24px; height:3px; background-color: $gray50; 
        @include menu-trigger();

        &:nth-child(1){top:7px;}
        &:nth-child(2){top:14px;}
        &:nth-child(3){bottom:8px;}
    }

    &.active{
        span{
            &:nth-child(1){transform: translateY(7px) rotate(-45deg);}
            &:nth-child(2){opacity : 0;}
            &:nth-child(3){transform: translateY(-7px) rotate(45deg);}
        }
    }

}

// 검색아이콘 디자인

.search-trigger{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:7px; width:24px; height:3px; background-color: $gray50; 
        @include tablet(){height:2px; background-color: $purple;}
        @include menu-trigger();

        &:nth-child(1){
            top:3px; 
            left:6px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            border: 3px solid $gray50;

            @include tablet(){top:8px; left:8px; width:12px; height: 12px; border:2px solid $purple;}
        }
        &:nth-child(2){
            top:20px;
            left:20px;
            width:10px;
            transform: rotate(45deg);
            @include tablet(){top:19px;left:17px;width:6px;}
        }
    }

    &.active{
        span{
            &:nth-child(1){
                width:24px;
                height: 3px;
                border-radius: 0; border: none;
                background-color: $gray50;
                transform: translateX(-2px) translateY(11px) rotate(-45deg);

                @include tablet(){width:18px; height:2px; transform: translateX(-1px) translateY(7px) rotate(-45deg);}
            }
            &:nth-child(2){
                width:24px;height: 3px;
                transform: translateX(-16px) translateY(-6px) rotate(45deg);

                @include tablet(){width:18px; height: 2px;transform: translateX(-10px) translateY(-4px) rotate(45deg);}
            }
        }
    }

}

.btn-search2{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:7px; width:24px; height:3px; background-color: $gray50; 
        @include menu-trigger();

        &:nth-child(1){
            top:3px; 
            left:6px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            border: 3px solid $gray50;
        }
        &:nth-child(2){
            top:20px;
            left:20px;
            width:10px;
            transform: rotate(45deg);
        }
    }
}

// 게시판 
// ==========================================================================

// 목록형 -------------------------------------------------------
.cont_board{
    border-top:1px solid $gray20;
    .list{

        li{
            position: relative; height: 74px;
            border-bottom:1px solid $gray20;
            font-size: 11px; line-height: 18px;

            @include tablet(){
                display: flex; align-items: center; justify-content: space-between; height: 69px;
                font-size: 16px;
            }
        }
        .number{
            position: absolute; top:15px; left:0;
            color:$purple3; font-weight: 600;

            @include tablet(){position: relative; top:0;}
        }
        .title{
            display: flex; align-items: center; flex-wrap: wrap;
            padding-top: 36px; padding-bottom: 10px;
            color:$gray80; font-size: 13px; 
            @include tablet(){width: 70%; padding-top: 0; padding-bottom: 0;}

            .memo{
                padding-top: 3px;
                max-width: 100%;
                &.newmemo{max-width:91%;}
                @include tablet(){padding-top: 2px;}
            }
            .new{
                display: flex; align-items: center; justify-content: center;
                width:18px; height:18px; margin-left: 7px;
                border-radius: 50%; background-color: #FD5B5B;
                font-size: 10px; color:#fff;
            }
        }
        .date{
            position: absolute; top:15px; right:5px;
            color: $gray50;
            @include tablet(){position: relative; top:0;}
        }

    }
    
    .notice{
        margin-top: -1px;
        border:1px solid $gray50; border-left: none; border-right: none;
        li:last-child{border-bottom:none;}

        @include tablet(){
            border:none;
            li:last-child{border-bottom: 1px solid $gray20;}
        }
        .number{color:$purple;}
        .title .memo{color:$purple;}
    }
}
// END 목록형 

// 갤러리형 ------------------------------------------------------

// END 갤러리형

// END 게시판

// 게시판 검색폼
.search-board{
    position: relative; top:0; right:0;
    width:100%; height: 50px; 
    background: #FFFFFF;
    border: 1px solid $gray20;
    box-sizing: border-box;
    z-index: 10;

    @include tablet(){position: absolute; width:36%; height: 38px; top:26px; right:66px;}
    .search{height:100%;}
    input{
        width:calc(100% - 60px); height: 100%; border: none; padding: 10px; box-sizing: border-box;
        &::placeholder{font-size: 14px; color:$gray50;}
    }
    button{
        position: absolute; top:2px; right:7px;
        width:32px; height: 32px;

        span:nth-child(1){
            top: 7px;left: 7px;width: 14px; height: 14px;border: 2px solid #828699;
        }

        span:nth-child(2){
            top: 20px; left: 16px; height: 2px;
        }
    }
}

// pagination ---------------------------------------------------
.pagination{
    margin-top: 36px; margin-bottom: 24px; justify-content: center;
    @include tablet(){
        margin-top: 50px; margin-bottom: 0;
    }
    .page-link{
        display: flex; justify-content: center; align-items: center;
        width:30px; height: 30px; padding: 3px 3px 0; margin:0 5px;
        border:none;border-radius: 50%;
        color: $gray50; font-size: 13px;

        &:hover{border-radius: 50%; background-color: $purple5;}
        &.link-action{
            border:none; padding-top: 0; margin:0 ;
            &:hover{
                background-color: #fff !important;
                img{background-color: $purple5; border-radius: 50%;}
            }
        }
    }
    .page-item.active .page-link{background-color: $purple;}

    .page-item:first-child .page-link, .page-item:last-child .page-link{margin: 0 -5px;}
    
}
// END pagination