// design 요소 적용
// ------------------------------------------------------------

// 메뉴아이콘 디자인
@mixin menu-trigger {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:4px; width:24px; height:3px; background-color: $gray50; 
        @include menu-trigger();

        &:nth-child(1){top:7px;}
        &:nth-child(2){top:14px;}
        &:nth-child(3){bottom:8px;}
    }

    &.active{
        span{
            &:nth-child(1){transform: translateY(7px) rotate(-45deg);}
            &:nth-child(2){opacity : 0;}
            &:nth-child(3){transform: translateY(-7px) rotate(45deg);}
        }
    }

}

// 검색아이콘 디자인

.search-trigger{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:7px; width:24px; height:3px; background-color: $gray50; 
        @include tablet(){height:2px; background-color: $purple;}
        @include menu-trigger();

        &:nth-child(1){
            top:3px; 
            left:6px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            border: 3px solid $gray50;

            @include tablet(){top:8px; left:8px; width:12px; height: 12px; border:2px solid $purple;}
        }
        &:nth-child(2){
            top:20px;
            left:20px;
            width:10px;
            transform: rotate(45deg);
            @include tablet(){top:19px;left:17px;width:6px;}
        }
    }

    &.active{
        span{
            &:nth-child(1){
                width:24px;
                height: 3px;
                border-radius: 0; border: none;
                background-color: $gray50;
                transform: translateX(-2px) translateY(11px) rotate(-45deg);

                @include tablet(){width:18px; height:2px; transform: translateX(-1px) translateY(7px) rotate(-45deg);}
            }
            &:nth-child(2){
                width:24px;height: 3px;
                transform: translateX(-16px) translateY(-6px) rotate(45deg);

                @include tablet(){width:18px; height: 2px;transform: translateX(-10px) translateY(-4px) rotate(45deg);}
            }
        }
    }

}

.btn-search2{
    position: relative; width: 32px; height: 32px;
    @include menu-trigger();
    span{
        position: absolute; left:7px; width:24px; height:3px; background-color: $gray50; 
        @include menu-trigger();

        &:nth-child(1){
            top:3px; 
            left:6px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            border: 3px solid $gray50;
        }
        &:nth-child(2){
            top:20px;
            left:20px;
            width:10px;
            transform: rotate(45deg);
        }
    }
}

// 분류캡슐 스타일 
// =========================================================================
.sorting{
    margin-bottom: 8px;
    @include tablet(){margin-bottom: 40px;}
    ul{
        display: flex; align-items: center; gap:8px; flex-wrap: wrap;
        li{
            margin-bottom: 8px;
            button, a{
                display: flex; justify-content: center; align-items: center;
                padding:8px 15px 6px;height: 40px;
                border: 1px solid $gray20; border-radius: 20px; background-color: transparent; 
                font-size: 15px; color: $gray50; text-decoration: none;
            }
            
            &.active button, &.active a{background-color: $purple; color:#fff;}
        }
    
    }
}

.area-sorting{
    display: flex; justify-content: space-between; align-items: flex-end;
    .sorting{
        margin-bottom: 0;
        ul li{margin-bottom: 0;}
    } 
    .dash{
        display: none; background-color: $gray20; height: 1px; flex-grow: 1; margin: 15px;
        @media (min-width:1030px) {display: block;}
    }
    .more{
        button{
            border:1px solid $gray20; border-radius: 50%;
            @media (min-width:1030px) {
                border:none;
            }
        }
    }
    
    &.latest{
        align-items: center;
        .dash{
            display: block;
        }
        .more button{border: none;}
    }

}

// 게시판 
// ==========================================================================

// 목록형 -------------------------------------------------------
.cont_board{
    border-top:1px solid $gray20;
    .list{

        li{
            position: relative; height: 74px;
            border-bottom:1px solid $gray20;
            font-size: 11px; line-height: 18px;

            @include tablet(){
                display: flex; align-items: center; justify-content: space-between; height: 69px;
                font-size: 15px; font-weight: 500;
            }
        }
        .number{
            position: absolute; top:15px; left:0;
            color:$purple3; font-weight: 500;

            @include tablet(){position: relative; width: 6%; top:0;font-size: 15px; text-align: center;}
        }
        .title{
            display: flex; align-items: center; flex-wrap: wrap;
            padding-top: 36px; padding-bottom: 10px;
            color:$gray80; font-size: 13px; 
            @include tablet(){width: 72%; padding-top: 0; padding-bottom: 0;font-size: 15px; font-weight: 500;}
            @include laptop(){width: 83%;}

            .memo{
                padding-top: 3px;
                max-width: 100%;
                &.newmemo{max-width:91%;}
                @include tablet(){padding-top: 2px;}
            }
            .new{
                display: flex; align-items: center; justify-content: center;
                width:18px; height:18px; margin-left: 7px;
                border-radius: 50%; background-color: #FD5B5B;
                font-size: 10px; color:#fff;
            }
        }
        .date{
            position: absolute; top:15px; right:5px;
            color: $gray50;
            @include tablet(){position: relative; top:0;font-size: 13px;}
        }

    }
    
    .notice{
        margin-top: -1px;
        border:1px solid $gray50; border-left: none; border-right: none;
        li:last-child{border-bottom:none;}

        @include tablet(){
            border:none;
            li:last-child{border-bottom: 1px solid $gray20;}
        }
        .number{color:$purple;}
        .title .memo{color:$purple;}
    }

    &.result-search{
        margin-top: 40px;
        @include tablet(){margin-top: 20px;}
        li{
            padding:20px 0; height:auto;
        }
        .title{
            font-size: 15px; line-height: 25px; color: $gray80; padding-top: 0; padding-bottom: 0;
            @include tablet(){font-size: 15px; line-height: 19px;margin-bottom: 11px; font-weight: 500;}
        }
        .txt{
            display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; 
            height:66px; line-height:22px; font-size:13px;
            @include tablet(){-webkit-line-clamp:2; font-size: 14px; line-height: 24px; height: 48px;}
        }
    }


}
// END 목록형 

// 갤러리형 ------------------------------------------------------
.cont_gallery{
    border-top:1px solid $gray20;
    @include tablet(){border-top: none;}
    .list > li{
        display: flex; gap: 10px;
        padding:30px 0;
        border-bottom:1px solid $gray20;
        @include tablet(){gap: 20px;}
        .wrap_img{
            @include tablet(){margin-left: 25px;}
            img{
                width:131px; height: 82px; object-fit: cover;
                @include tablet(){
                    width:264px; height: 165px;
                }
            }
        }

        .content{
            @include tablet(){margin-right: 25px;}
            h2{
                font-size: 13px; line-height: 20px; color: $gray80; font-weight: 500;
                @include tablet(){font-size: 18px;line-height: 28px;}
            }
            .summary{
                display: none;
                @include tablet(){display: block; font-size: 14px; line-height: 25px; color: $gray80; margin-top: 13px;}
            }
            .subcont{
                margin-top: 12px;
                @include tablet(){margin-top: 16px;}
                ul{
                    display: flex; align-items: center;
                    li{
                        display: flex; align-items: center; height:22px;
                        margin-right: 17px;
                        font-size: 11px; color: $gray50;

                        @include tablet(){height:26px;font-size: 12px;}

                        &.date{
                            background: url(../images/Date_range_light.svg) no-repeat 0 0; background-size: 18px; padding-left: 20px;
                            @include tablet(){background-size: 23px;padding-left: 29px;}
                        }
                        &.reply{
                            background: url(../images/chat.svg) no-repeat 0 0;  background-size: 18px; padding-left: 20px;
                            @include tablet(){background-size: 23px;padding-left: 27px;}
                        }
                        &.viewNum{
                            background: url(../images/View_light.svg) no-repeat 0 0;  background-size: 18px; padding-left: 20px;
                            @include tablet(){background-size: 23px;padding-left: 27px;}
                        }
                    }
                }
            }
        }
    }

    .notice > li{
        background-color: $purple5; border-bottom: none;
        .content{
            h2{color:$purple;}
        }
    }
}
// END 갤러리형

// 갤러리형2 (간행물/후원등) ------------------------------------------------------
.cont_gallery2{
    margin-top: 40px;
    @include tablet(){margin-top: 0;}
    .list{
        display: flex; flex-wrap: wrap; width:100%;
        &> li{
            display: flex; flex-direction: column; align-items: center;
            width:calc(100% / 2); min-height: 310px;
            @include tablet(){width:calc(100% / 2); min-height:430px;}
            @media (min-width: 950px) {width:calc(100% / 3);}
            @media (min-width: 1160px) {width:calc(100% / 4);}
            .wrap_img{
                display: flex; justify-content: center;
                width:100%;
                border-bottom: 3px solid $gray20;
                img{
                    width:120px; height: 160px; object-fit: cover;
                    @include tablet(){
                        width:180px; height: 240px;
                    }
                }
            }
    
            .content{
                width:150px; margin-top: 17px;
                @include tablet(){width:180px; margin-top: 14px;}
                .header-list{
                    display: flex; justify-content: space-between; min-height:25px;
                    @include tablet(){min-height:27px;}
                    h2{
                        font-size: 13px; line-height: 20px; color: $purple; 
                        @include tablet(){font-size: 14px;line-height: 30px;}
                    }
                }
                .summary{
                    color: $gray80; font-size: 13px; line-height: 22px;
                    @include tablet(){font-size: 16px; line-height: 30px;}
                }
            }
        }

        &.noline{
            & > li{
                min-height: 280px;
                @include tablet(){min-height:400px;}
                &  .wrap_img{border-bottom: none;}
            }
        }
    } 
}

// END 갤러리형2 (간행물/후원등)

// 게시판 view ------------------------------------------------------
.cont_view{
    border-top: 1px solid $gray20;

    a{display:flex; justify-content: center; align-items: center; width:100%; height: 100%;}
    
    .title{
        font-size: 15px; color:$gray80; line-height: 25px; margin-top: 22px;
        @include tablet(){font-size: 24px; line-height: 38px;}
    }

    .subheader{

        @include tablet(){
            display: flex; justify-content: space-between; margin-top: 2px;
        }
        
        .cont-defalut {
            margin-top: 11px;
            ul{
                display: flex; align-items: center; font-size: 12px; color:$gray80;
    
                li{ 
                    display: flex; align-items: center; height:20px;
                    margin-right: 17px;
                    font-size: 11px; color: $gray50;

                    @include tablet(){height:22px;font-size: 12px;}
                    
                    &.date{
                        background: url(../images/Date_range_light.svg) no-repeat 0 0; background-size: 18px; padding-left: 20px;
                        @include tablet(){background-size: 23px;padding-left: 29px;}
                    }
                    &.viewNum{
                        background: url(../images/View_light.svg) no-repeat 0 0;  background-size: 18px; padding-left: 20px;
                        @include tablet(){background-size: 23px;padding-left: 27px;}
                    }
                    &.file a{
                        background: url(../images/Folder_light.svg) no-repeat 0 0;  background-size: 18px; padding-left: 20px;
                        @include tablet(){background-size: 23px;padding-left: 26px;}
                    }
                }
            }
        }

        .sns{
            margin-top: 28px; margin-bottom: 20px;
            @include tablet(){margin-top: 2px; margin-bottom: 20px;}
            ul{
                display: flex; justify-content: center;
                li{
                    margin: 0 8px;
                    img{width:30px;}
                    @include tablet(){
                        margin: 0 4px;
                        // img{width:30px;}
                    }
                }
            }
        }

    }

    .content{
        padding-top: 23px; padding-bottom: 23px;
        border: 1px solid $gray20; border-left: none; border-right: none;
    }

    .area-btn{
        display: flex; justify-content: space-between; align-items: center;
        margin-top: 21px; margin-bottom: 74px;
        @include tablet(){margin-bottom: 45px;}
        a{
            display: flex; align-items: center;
            font-size: 14px; color: $gray80;

            &.btn-list{
                width:90px; height: 38px;
                background:$purple5 url(../images/Menu.svg) no-repeat 17px 50%; 
                padding:10px 5px 10px 30px; 
            }
            &.btn-prev{
                width:90px; height: 38px; margin-right: 10px; text-align: left;
                background:$purple5 url(../images/Arrow_left_light.svg) no-repeat 10px 50%;
                padding:10px 10px 10px 30px; 
            }
            &.btn-next{
                width:90px; height: 38px;
                background:$purple5 url(../images/Arrow_right_light.svg) no-repeat 53px 50%;
                padding:10px 30px 10px 9px;
            }

        }
        .prevnext{
            display: flex; justify-content: space-between; align-items: center;
        }
    }
}
// END 게시판 view

// 댓글 리스트 ------------------------------------------------------
.cont_reply{
    & > p{
        color:$gray80; font-size: 15px;
        border-bottom: 1px solid $gray20; padding-bottom: 14px;

        @include tablet(){
            border-bottom:none; padding-bottom: 7px;
        }
    }
    
    ul{
        border-top: 1px solid $gray20;
        li{
            padding:23px 0 12px; font-size: 13px; border-bottom: 1px solid $gray20;

            .head-reply{
                display: flex; justify-content: space-between; align-items: center;
                .info{
                    display: flex;
                    .author{color:$gray80; margin-right: 10px;}
                    .date{color: $gray50;}
                }
                .crud{
                    button{color: $gray50; padding: 0px 7px;}
                    button:first-child{
                       border-right: 1px solid $gray50; padding: 0 9px 0 7px;
                    }
                }
            }

            .body-reply{
                color:$gray80; line-height: 22px; margin: 10px 0;

                .secret{background: url(../images/lock.svg) no-repeat 0 50%; padding-left: 25px;}
            }

        }
    }

}
// END 댓글 리스트
.reply_write{
    margin-top: 30px;
    input, textarea{
        border: 1px solid $gray20; padding: 7px 13px; font-size: 13px; height:35px;
        &::placeholder{color:$gray50;}
    }

    .header{
        display: flex; align-items: center;
        & > input:nth-child(1){
            width:33%; margin-right: 5px;
            @include tablet(){width:200px; }
        }
        & > input:nth-child(2){
            width:33%;
            @include tablet(){width:200px; }
        }
        .form-check{
            margin-left: 10px;
            .form-check-input{height: auto;padding: 0; border: 2px solid $gray50;}
            .form-check-label{font-size: 13px; color: $gray50;}
        }
    }
    
    .body-reply{
        margin-top: 12px;margin-bottom: 12px;

        @include tablet(){display: flex; justify-content: space-between; align-items: center;}

        textarea{
            width:100%; height: 100px; color: $gray50;
            @include tablet(){width:calc(100% - 110px);}
        }

        button{
            position: relative;
            width: 100%; height: 46px; background-color: $purple5;
            font-size: 14px; color: $gray50;

            @include tablet(){width:100px; height: 100px;padding-top: 36px;}
            img{
                margin-left: 5px; width:17px;
                @include tablet(){position: absolute;top:31px; left: 50%; margin-left: -9px;}
            }

        }

    }
}
// 댓글 쓰기 ------------------------------------------------------

// END 댓글 쓰기

// 게시판 검색폼
.search-board{
    position: relative; top:0; right:0;
    width:100%; height: 50px; margin-bottom: 40px;
    background: #FFFFFF;
    border: 1px solid $gray20;
    box-sizing: border-box;
    z-index: 10;

    @include tablet(){position: absolute; width:36%; height: 38px; top:26px; margin-bottom: 0;}
    .search{height:100%;}
    input{
        width:calc(100% - 60px); height: 100%; border: none; padding: 10px; box-sizing: border-box;
        &::placeholder{font-size: 14px; color:$gray50;}
    }
    button{
        position: absolute; top:2px; right:7px;
        width:32px; height: 32px;

        span:nth-child(1){
            top: 7px;left: 7px;width: 14px; height: 14px;border: 2px solid #828699;
        }

        span:nth-child(2){
            top: 20px; left: 16px; height: 2px;
        }
    }
}

// pagination ---------------------------------------------------
.pagination{
    margin-top: 36px; margin-bottom: 24px; justify-content: center;
    @include tablet(){
        margin-top: 50px; margin-bottom: 0;
    }
    .page-link{
        display: flex; justify-content: center; align-items: center;
        width:30px; height: 30px; padding: 3px 3px 0; margin:0 5px;
        border:none;border-radius: 50%;
        color: $gray50; font-size: 13px;

        &:hover{border-radius: 50%; background-color: $purple5;}
        &.link-action{
            border:none; padding-top: 0; margin:0 ;
            &:hover{
                background-color: #fff !important;
                img{background-color: $purple5; border-radius: 50%;}
            }
        }
    }
    .page-item.active .page-link{background-color: $purple;}

    .page-item:first-child .page-link, .page-item:last-child .page-link{margin: 0 -5px;}
    
}
// END pagination

// END 게시판

// 문단 기본형태 ------------------------------------------------
.p-default{
    margin-bottom: 20px;
    color: $gray80; font-size: 15px; line-height: 26px; text-align: justify; 

    @include tablet(){
        font-size: 16px; line-height: 28px;margin-bottom: 30px;
    }
}
// END 문단 기본형태

