@charset "UTF-8";
@import url("https://webfontworld.github.io/naver/NanumBarunGothic.css");
html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  line-height: 0;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input, textarea, select, button {
  font: inherit;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

input[type="button"],
input[type="text"],
input[type="image"],
input[type="submit"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

textarea {
  resize: none;
}

button {
  color: inherit;
  cursor: pointer;
  outline: none;
  letter-spacing: inherit;
  background-color: transparent;
}

button[disabled] {
  cursor: default;
}

em {
  font-style: normal;
}

hr {
  display: none;
}

body {
  font-family: "NanumBarunGothic";
}

.pc-only {
  display: none;
}

@media (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

.mobile-only {
  display: block;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.scrollDisable {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.mt0 {
  margin-top: 0 !important;
}

br.mobile-only {
  display: block;
}

@media (min-width: 576px) {
  br.mobile-only {
    display: none;
  }
}

.menu-trigger {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-trigger span {
  position: absolute;
  left: 4px;
  width: 24px;
  height: 3px;
  background-color: #828699;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-trigger span:nth-child(1) {
  top: 7px;
}

.menu-trigger span:nth-child(2) {
  top: 14px;
}

.menu-trigger span:nth-child(3) {
  bottom: 8px;
}

.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

.search-trigger {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-trigger span {
  position: absolute;
  left: 7px;
  width: 24px;
  height: 3px;
  background-color: #828699;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .search-trigger span {
    height: 2px;
    background-color: #5F249F;
  }
}

.search-trigger span:nth-child(1) {
  top: 3px;
  left: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  border: 3px solid #828699;
}

@media (min-width: 768px) {
  .search-trigger span:nth-child(1) {
    top: 8px;
    left: 8px;
    width: 12px;
    height: 12px;
    border: 2px solid #5F249F;
  }
}

.search-trigger span:nth-child(2) {
  top: 20px;
  left: 20px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 768px) {
  .search-trigger span:nth-child(2) {
    top: 19px;
    left: 17px;
    width: 6px;
  }
}

.search-trigger.active span:nth-child(1) {
  width: 24px;
  height: 3px;
  border-radius: 0;
  border: none;
  background-color: #828699;
  -webkit-transform: translateX(-2px) translateY(11px) rotate(-45deg);
          transform: translateX(-2px) translateY(11px) rotate(-45deg);
}

@media (min-width: 768px) {
  .search-trigger.active span:nth-child(1) {
    width: 18px;
    height: 2px;
    -webkit-transform: translateX(-1px) translateY(7px) rotate(-45deg);
            transform: translateX(-1px) translateY(7px) rotate(-45deg);
  }
}

.search-trigger.active span:nth-child(2) {
  width: 24px;
  height: 3px;
  -webkit-transform: translateX(-16px) translateY(-6px) rotate(45deg);
          transform: translateX(-16px) translateY(-6px) rotate(45deg);
}

@media (min-width: 768px) {
  .search-trigger.active span:nth-child(2) {
    width: 18px;
    height: 2px;
    -webkit-transform: translateX(-10px) translateY(-4px) rotate(45deg);
            transform: translateX(-10px) translateY(-4px) rotate(45deg);
  }
}

.btn-search2 {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-search2 span {
  position: absolute;
  left: 7px;
  width: 24px;
  height: 3px;
  background-color: #828699;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-search2 span:nth-child(1) {
  top: 3px;
  left: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  border: 3px solid #828699;
}

.btn-search2 span:nth-child(2) {
  top: 20px;
  left: 20px;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cont_board {
  border-top: 1px solid #D8DAE6;
}

.cont_board .list li {
  position: relative;
  height: 74px;
  border-bottom: 1px solid #D8DAE6;
  font-size: 11px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .cont_board .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 69px;
    font-size: 16px;
  }
}

.cont_board .list .number {
  position: absolute;
  top: 15px;
  left: 0;
  color: #D6C3F5;
  font-weight: 600;
}

@media (min-width: 768px) {
  .cont_board .list .number {
    position: relative;
    top: 0;
  }
}

.cont_board .list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 36px;
  padding-bottom: 10px;
  color: #3A3D4D;
  font-size: 13px;
}

@media (min-width: 768px) {
  .cont_board .list .title {
    width: 70%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.cont_board .list .title .memo {
  padding-top: 3px;
  max-width: 100%;
}

.cont_board .list .title .memo.newmemo {
  max-width: 91%;
}

@media (min-width: 768px) {
  .cont_board .list .title .memo {
    padding-top: 2px;
  }
}

.cont_board .list .title .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #FD5B5B;
  font-size: 10px;
  color: #fff;
}

.cont_board .list .date {
  position: absolute;
  top: 15px;
  right: 5px;
  color: #828699;
}

@media (min-width: 768px) {
  .cont_board .list .date {
    position: relative;
    top: 0;
  }
}

.cont_board .notice {
  margin-top: -1px;
  border: 1px solid #828699;
  border-left: none;
  border-right: none;
}

.cont_board .notice li:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .cont_board .notice {
    border: none;
  }
  .cont_board .notice li:last-child {
    border-bottom: 1px solid #D8DAE6;
  }
}

.cont_board .notice .number {
  color: #5F249F;
}

.cont_board .notice .title .memo {
  color: #5F249F;
}

.cont_view {
  border-top: 1px solid #D8DAE6;
}

.cont_view a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.cont_view .title {
  font-size: 15px;
  color: #3A3D4D;
  line-height: 25px;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .cont_view .title {
    font-size: 24px;
    line-height: 38px;
  }
}

@media (min-width: 768px) {
  .cont_view .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2px;
  }
}

.cont_view .subheader .cont-defalut {
  margin-top: 11px;
}

.cont_view .subheader .cont-defalut ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #3A3D4D;
}

.cont_view .subheader .cont-defalut ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-right: 17px;
  font-size: 11px;
  color: #828699;
}

@media (min-width: 768px) {
  .cont_view .subheader .cont-defalut ul li {
    height: 22px;
    font-size: 12px;
  }
}

.cont_view .subheader .cont-defalut ul li.date {
  background: url(../images/Date_range_light.svg) no-repeat 0 0;
  background-size: 18px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .cont_view .subheader .cont-defalut ul li.date {
    background-size: 23px;
    padding-left: 29px;
  }
}

.cont_view .subheader .cont-defalut ul li.viewNum {
  background: url(../images/View_light.svg) no-repeat 0 0;
  background-size: 18px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .cont_view .subheader .cont-defalut ul li.viewNum {
    background-size: 23px;
    padding-left: 27px;
  }
}

.cont_view .subheader .cont-defalut ul li.file a {
  background: url(../images/Folder_light.svg) no-repeat 0 0;
  background-size: 18px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .cont_view .subheader .cont-defalut ul li.file a {
    background-size: 23px;
    padding-left: 26px;
  }
}

.cont_view .subheader .sns {
  margin-top: 28px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cont_view .subheader .sns {
    margin-top: 2px;
    margin-bottom: 20px;
  }
}

.cont_view .subheader .sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont_view .subheader .sns ul li {
  margin: 0 8px;
}

@media (min-width: 768px) {
  .cont_view .subheader .sns ul li {
    margin: 0 4px;
  }
  .cont_view .subheader .sns ul li img {
    width: 30px;
  }
}

.cont_view .content {
  padding-top: 23px;
  padding-bottom: 23px;
  border: 1px solid #D8DAE6;
  border-left: none;
  border-right: none;
}

.cont_view .area-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
  margin-bottom: 74px;
}

@media (min-width: 768px) {
  .cont_view .area-btn {
    margin-bottom: 45px;
  }
}

.cont_view .area-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #3A3D4D;
}

.cont_view .area-btn a.btn-list {
  width: 90px;
  height: 38px;
  background: #F7F3FD url(../images/Menu.svg) no-repeat 17px 50%;
  padding: 10px 5px 10px 30px;
}

.cont_view .area-btn a.btn-prev {
  width: 90px;
  height: 38px;
  margin-right: 10px;
  text-align: left;
  background: #F7F3FD url(../images/Arrow_left_light.svg) no-repeat 10px 50%;
  padding: 10px 10px 10px 30px;
}

.cont_view .area-btn a.btn-next {
  width: 90px;
  height: 38px;
  background: #F7F3FD url(../images/Arrow_right_light.svg) no-repeat 53px 50%;
  padding: 10px 30px 10px 9px;
}

.cont_view .area-btn .prevnext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_reply > p {
  color: #3A3D4D;
  font-size: 15px;
  border-bottom: 1px solid #D8DAE6;
  padding-bottom: 14px;
}

@media (min-width: 768px) {
  .cont_reply > p {
    border-bottom: none;
    padding-bottom: 7px;
  }
}

.cont_reply ul li {
  padding: 23px 0 12px;
  font-size: 13px;
  border-bottom: 1px solid #D8DAE6;
}

.cont_reply ul li .head-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_reply ul li .head-reply .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont_reply ul li .head-reply .info .author {
  color: #3A3D4D;
  margin-right: 10px;
}

.cont_reply ul li .head-reply .info .date {
  color: #828699;
}

.cont_reply ul li .head-reply .crud button {
  color: #828699;
  padding: 0px 7px;
}

.cont_reply ul li .head-reply .crud button:first-child {
  border-right: 1px solid #828699;
  padding: 0 9px 0 7px;
}

.cont_reply ul li .body-reply {
  color: #3A3D4D;
  line-height: 22px;
  margin: 10px 0;
}

.cont_reply ul li .body-reply .secret {
  background: url(../images/lock.svg) no-repeat 0 50%;
  padding-left: 25px;
}

.reply_write {
  margin-top: 30px;
}

.reply_write input, .reply_write textarea {
  border: 1px solid #D8DAE6;
  padding: 7px 13px;
  font-size: 13px;
  height: 35px;
}

.reply_write input::-webkit-input-placeholder, .reply_write textarea::-webkit-input-placeholder {
  color: #828699;
}

.reply_write input:-ms-input-placeholder, .reply_write textarea:-ms-input-placeholder {
  color: #828699;
}

.reply_write input::-ms-input-placeholder, .reply_write textarea::-ms-input-placeholder {
  color: #828699;
}

.reply_write input::placeholder, .reply_write textarea::placeholder {
  color: #828699;
}

.reply_write .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reply_write .header > input:nth-child(1) {
  width: 200px;
  margin-right: 5px;
}

.reply_write .header > input:nth-child(2) {
  width: 200px;
}

.reply_write .header .form-check {
  margin-left: 10px;
}

.reply_write .header .form-check .form-check-input {
  height: auto;
  padding: 0;
  border: 2px solid #828699;
}

.reply_write .header .form-check .form-check-label {
  font-size: 13px;
  color: #828699;
}

.reply_write .body-reply {
  margin-top: 12px;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .reply_write .body-reply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reply_write .body-reply textarea {
  width: 100%;
  height: 100px;
  color: #828699;
}

@media (min-width: 768px) {
  .reply_write .body-reply textarea {
    width: calc(100% - 110px);
  }
}

.reply_write .body-reply button {
  position: relative;
  width: 100%;
  height: 46px;
  background-color: #F7F3FD;
  font-size: 14px;
  color: #828699;
}

@media (min-width: 768px) {
  .reply_write .body-reply button {
    width: 100px;
    height: 100px;
    padding-top: 36px;
  }
}

.reply_write .body-reply button img {
  margin-left: 5px;
  width: 17px;
}

@media (min-width: 768px) {
  .reply_write .body-reply button img {
    position: absolute;
    top: 31px;
    left: 50%;
    margin-left: -9px;
  }
}

.search-board {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D8DAE6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

@media (min-width: 768px) {
  .search-board {
    position: absolute;
    width: 36%;
    height: 38px;
    top: 26px;
    right: 66px;
  }
}

.search-board .search {
  height: 100%;
}

.search-board input {
  width: calc(100% - 60px);
  height: 100%;
  border: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-board input::-webkit-input-placeholder {
  font-size: 14px;
  color: #828699;
}

.search-board input:-ms-input-placeholder {
  font-size: 14px;
  color: #828699;
}

.search-board input::-ms-input-placeholder {
  font-size: 14px;
  color: #828699;
}

.search-board input::placeholder {
  font-size: 14px;
  color: #828699;
}

.search-board button {
  position: absolute;
  top: 2px;
  right: 7px;
  width: 32px;
  height: 32px;
}

.search-board button span:nth-child(1) {
  top: 7px;
  left: 7px;
  width: 14px;
  height: 14px;
  border: 2px solid #828699;
}

.search-board button span:nth-child(2) {
  top: 20px;
  left: 16px;
  height: 2px;
}

.pagination {
  margin-top: 36px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .pagination {
    margin-top: 50px;
    margin-bottom: 0;
  }
}

.pagination .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 3px 0;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  color: #828699;
  font-size: 13px;
}

.pagination .page-link:hover {
  border-radius: 50%;
  background-color: #F7F3FD;
}

.pagination .page-link.link-action {
  border: none;
  padding-top: 0;
  margin: 0;
}

.pagination .page-link.link-action:hover {
  background-color: #fff !important;
}

.pagination .page-link.link-action:hover img {
  background-color: #F7F3FD;
  border-radius: 50%;
}

.pagination .page-item.active .page-link {
  background-color: #5F249F;
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  margin: 0 -5px;
}

header {
  position: relative;
  z-index: 120;
}

@media (min-width: 768px) {
  header {
    position: inherit;
    height: 50px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  }
}

.snb {
  position: absolute;
  top: 14px;
  right: 0;
}

@media (min-width: 768px) {
  .snb {
    top: 7px;
  }
}

.snb .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .snb .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.snb .bookmark ul li {
  display: inline-block;
  position: relative;
}

.snb .bookmark ul li a {
  font-size: 14px;
  color: #3A3D4D;
  font-weight: 400;
}

.snb .bookmark ul li:nth-child(1):after {
  content: '|';
  margin-left: 8px;
  margin-right: 4px;
  font-size: 12px;
  color: #D8DAE6;
}

.snb .bookmark ul li:nth-child(2) {
  margin-right: 21px;
}

.snb .bookmark ul li .form-control {
  width: 200px;
  height: 28px;
  font-size: 14px;
  color: #828699;
  border-radius: 0;
}

.snb .sub-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .snb .sub-link {
    margin-right: -7px;
  }
}

.snb .sub-link > a {
  font-size: 14px;
  font-weight: 400;
  color: #828699;
}

.snb .sub-link > a::after {
  content: '|';
  margin-left: 16px;
  margin-right: 4px;
  font-size: 12px;
  color: #D8DAE6;
}

.snb .sub-link .btn-menu, .snb .sub-link .btn-search {
  font-size: 0;
}

.snb .sub-link .btn-menu {
  margin-left: 13px;
}

.gnb {
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  z-index: 20;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 768px) {
  .gnb {
    position: absolute;
    top: 51px;
    left: 0;
    height: 80px;
    overflow: hidden;
  }
}

.gnb.active {
  height: 320px;
}

@media (min-width: 768px) {
  .gnb .container {
    position: relative;
  }
}

.gnb h1 {
  position: absolute;
  top: 14px;
  left: 27px;
  width: 170px;
}

.gnb h1 img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .gnb h1 {
    top: 24px;
    left: 12px;
    width: 17%;
  }
}

@media (min-width: 992px) {
  .gnb h1 {
    top: 19px;
  }
}

.gnb nav {
  position: fixed;
  top: 60px;
  right: -250px;
  width: 250px;
  height: calc(100vh - 60px - 54px);
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.gnb nav h2 {
  display: none;
}

@media (min-width: 768px) {
  .gnb nav {
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    width: 78%;
    height: auto;
    margin-left: 22%;
    overflow-y: inherit;
  }
}

.gnb nav.active {
  right: 0;
}

@media (min-width: 768px) {
  .gnb nav.active {
    right: auto;
  }
}

@media (min-width: 768px) {
  .gnb nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gnb nav > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .gnb nav > ul > li {
    height: 80px;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  .gnb nav > ul > li:nth-child(1) {
    width: 12%;
  }
  .gnb nav > ul > li:nth-child(2) {
    width: 12%;
  }
  .gnb nav > ul > li:nth-child(3) {
    width: 13%;
  }
  .gnb nav > ul > li:nth-child(4) {
    width: 14%;
  }
  .gnb nav > ul > li:nth-child(5) {
    width: 13%;
  }
  .gnb nav > ul > li:nth-child(6) {
    width: 12%;
  }
  .gnb nav > ul > li:nth-child(7) {
    width: 12%;
  }
  .gnb nav > ul > li:nth-child(8) {
    width: 12%;
  }
}

.gnb nav > ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@media (min-width: 768px) {
  .gnb nav > ul > li a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.gnb nav > ul > li > a {
  padding-left: 21px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3A3D4D;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > a {
    padding-left: 0;
    font-size: 18px;
  }
}

.gnb nav > ul > li::after {
  position: absolute;
  top: 22px;
  right: 23px;
  width: 21px;
  height: 15px;
  margin-left: auto;
  content: "";
  background: url(../images/chevron-down.svg) no-repeat;
  background-size: 21px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  color: #828699;
}

@media (min-width: 768px) {
  .gnb nav > ul > li::after {
    display: none;
  }
}

.gnb nav > ul > li > ul {
  display: none;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul {
    display: block;
    padding-top: 15px;
  }
}

.gnb nav > ul > li > ul > li {
  display: inline-block;
  width: 100%;
  height: 33px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul > li {
    margin-top: 0;
    height: 24px;
  }
}

.gnb nav > ul > li > ul > li a {
  padding-left: 21px;
  font-weight: 400;
  font-size: 15px;
  color: #3A3D4D;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul > li a {
    padding-left: 0;
  }
}

.gnb nav > ul > li > ul > li > a {
  font-size: 13px;
  color: #3A3D4D;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gnb nav > ul > li > ul > li > ul {
  margin-top: 7px;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul > li > ul {
    margin-top: 0;
  }
}

.gnb nav > ul > li > ul > li > ul > li {
  height: 33px;
  padding-left: 24px;
  position: relative;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul > li > ul > li {
    height: 24px;
    padding-left: 18px;
  }
  .gnb nav > ul > li > ul > li > ul > li > a {
    font-size: 13px;
  }
}

.gnb nav > ul > li > ul > li > ul > li::before {
  content: "·";
  position: absolute;
  top: 7px;
  left: 28px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .gnb nav > ul > li > ul > li > ul > li::before {
    top: 3px;
    left: 5px;
    font-size: 15px;
  }
}

.gnb nav > ul > li.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 27px;
}

.gnb nav > ul > li.active > ul {
  display: block;
}

.gnb nav > ul > li.active + li {
  margin-top: 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .gnb nav > ul > li.active + li {
    margin-top: 0;
    border-top: 0;
  }
}

@media (min-width: 768px) {
  .gnb nav > ul > li.active > a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 53px;
    height: 3px;
    margin-left: auto;
    content: "";
    background: url(../images/underbar.svg) no-repeat;
  }
}

@media (min-width: 768px) {
  .gnb nav > ul > li:nth-child(1).active > a::after {
    width: 46px;
    left: -13px;
  }
  .gnb nav > ul > li:nth-child(2).active > a::after {
    width: 46px;
    left: -13px;
  }
  .gnb nav > ul > li:nth-child(3).active > a::after {
    width: 46px;
    left: -13px;
  }
  .gnb nav > ul > li:nth-child(4).active > a::after {
    width: 75px;
    left: -7px;
  }
  .gnb nav > ul > li:nth-child(5).active > a::after {
    width: 62px;
    left: -12px;
  }
  .gnb nav > ul > li:nth-child(6).active > a::after {
    width: 46px;
    left: -13px;
  }
  .gnb nav > ul > li:nth-child(7).active > a::after {
    width: 46px;
    left: -13px;
  }
  .gnb nav > ul > li:nth-child(8).active > a::after {
    width: 46px;
    left: -13px;
  }
}

.lnb {
  position: absolute;
  top: 60px;
  left: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FBFAFF;
  -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #828699;
}

@media (min-width: 768px) {
  .lnb {
    top: 130px;
  }
}

.lnb a {
  margin: 0 8px;
}

.lnb a.current {
  color: #5F249F;
}

.div-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #D8DAE6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 768px) {
  .div-search {
    display: none;
    position: absolute;
    width: 390px;
    top: 0;
    z-index: 50;
  }
}

.div-search .search {
  height: 100%;
}

.div-search input {
  width: calc(100% - 60px);
  height: 100%;
  border: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.div-search button {
  position: absolute;
  top: 12px;
  right: 21px;
  width: 32px;
  height: 32px;
}

.div-search.active {
  top: 60px;
  z-index: 50;
}

@media (min-width: 768px) {
  .div-search.active {
    top: 48px;
    display: block;
    right: 10px;
  }
}

@media (min-width: 992px) {
  .div-search.active {
    left: 50%;
    margin-left: 190px;
  }
}

main {
  margin-top: 40px;
  min-height: calc(100% - 314px);
}

@media (min-width: 768px) {
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 120px;
  }
}

main .container .mnb {
  display: none;
}

@media (min-width: 768px) {
  main .container .mnb {
    display: block;
    width: 190px;
  }
  main .container .mnb h2 {
    padding: 43px 0 20px;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 600;
    color: #3A3D4D;
    border-bottom: 1px solid #D8DAE6;
  }
  main .container .mnb ul {
    display: none;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul {
    display: block;
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li {
    display: inline-block;
    width: 100%;
    height: 33px;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul > li {
    margin-top: 0;
    height: 24px;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li a {
    padding-left: 21px;
    font-weight: 400;
    font-size: 15px;
    color: #3A3D4D;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul > li a {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li > a {
    font-size: 13px;
    color: #3A3D4D;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .container .mnb ul > li > ul {
    margin-top: 7px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul > li > ul {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li > ul > li {
    height: 33px;
    padding-left: 24px;
    position: relative;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul > li > ul > li {
    height: 24px;
    padding-left: 18px;
  }
  main .container .mnb ul > li > ul > li > a {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li > ul > li::before {
    content: "·";
    position: absolute;
    top: 7px;
    left: 28px;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  main .container .mnb ul > li > ul > li::before {
    top: 3px;
    left: 5px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  main .container .mnb ul > li > ul + li {
    margin-top: 10px;
  }
}

main .container .cont_body {
  position: relative;
  width: 100%;
  padding: 30px 0px;
}

@media (min-width: 768px) {
  main .container .cont_body {
    width: calc(100% - 190px);
    border-left: 1px solid #D8DAE6;
    padding: 45px 65px;
  }
}

main .container .cont_body article h1 {
  color: #3A3D4D;
  font-size: 20px;
  margin-bottom: 15px;
}

.side-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 110;
}

@media (min-width: 768px) {
  .side-menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .side-menu {
    display: block;
    top: 197px;
    left: 50%;
    bottom: inherit;
    margin-left: 585px;
  }
}

.side-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .side-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side-menu ul li {
  width: calc(100vw / 4);
  height: 54px;
  border: 1px solid #FFFFFF;
  border-right: none;
}

@media (min-width: 768px) {
  .side-menu ul li {
    width: 72px;
    height: 60px;
    margin: 7px 0;
    border-radius: 6px 16px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
  }
}

.side-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #5F249F;
  font-size: 14px;
  padding-top: 27px;
}

@media (min-width: 768px) {
  .side-menu ul li a {
    font-size: 12px;
  }
}

.side-menu ul li:nth-child(1) {
  background: #D6C3F5 url(../images/handsheart.png) no-repeat center 6px;
}

@media (min-width: 768px) {
  .side-menu ul li:nth-child(1) {
    background: #D6C3F5 url(../images/handsheart.png) no-repeat center 10px;
  }
}

.side-menu ul li:nth-child(2) {
  background: #D6C3F5 url(../images/Home_duotone_line.png) no-repeat center 6px;
}

@media (min-width: 768px) {
  .side-menu ul li:nth-child(2) {
    background: #D6C3F5 url(../images/handsheart.png) no-repeat center 10px;
  }
}

.side-menu ul li:nth-child(3) {
  background: #D6C3F5 url(../images/notebook_light.png) no-repeat center 6px;
}

@media (min-width: 768px) {
  .side-menu ul li:nth-child(3) {
    background: #D6C3F5 url(../images/handsheart.png) no-repeat center 10px;
  }
}

.side-menu ul li:nth-child(4) {
  background: #D6C3F5 url(../images/Book_open_light.png) no-repeat center 6px;
  border-right: 1px solid #FFFFFF;
}

@media (min-width: 768px) {
  .side-menu ul li:nth-child(4) {
    background: #D6C3F5 url(../images/handsheart.png) no-repeat center 10px;
    border-right: 0;
  }
}

footer {
  height: 342px;
  padding-bottom: 53px;
  background: #FAFAFC;
  font-size: 10px;
  color: #828699;
  line-height: 17px;
}

@media (min-width: 576px) {
  footer {
    height: 270px;
  }
}

@media (min-width: 768px) {
  footer {
    height: 144px;
    padding-bottom: 0;
  }
}

footer .container {
  position: relative;
  padding-top: 22px;
}

@media (min-width: 768px) {
  footer .container {
    padding-top: 0;
  }
}

footer .companyinfo {
  position: static;
}

@media (min-width: 768px) {
  footer .companyinfo {
    position: absolute;
    top: 45px;
    left: 10px;
    margin-top: 0;
  }
}

footer .companyinfo li {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  footer .companyinfo li {
    margin-bottom: 5px;
  }
}

footer .social-copy {
  position: static;
  margin-top: 18px;
}

@media (min-width: 768px) {
  footer .social-copy {
    position: absolute;
    top: 37px;
    right: 10px;
    margin-top: 0;
    width: auto;
  }
}

footer .social-copy > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  footer .social-copy > ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .social-copy > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

footer .social-copy > ul > li:first-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  footer .social-copy > ul > li:first-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer .social-copy > ul > li:nth-child(2) {
  width: auto;
}

@media (min-width: 768px) {
  footer .social-copy > ul > li:nth-child(2) {
    width: 340px;
  }
}

@media (min-width: 992px) {
  footer .social-copy > ul > li:nth-child(2) {
    width: auto;
  }
}

footer .social-copy .sns {
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  footer .social-copy .sns {
    margin-bottom: 12px;
  }
}

footer .social-copy .sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}

@media (min-width: 576px) {
  footer .social-copy .sns ul {
    width: auto;
  }
}

footer .social-copy .sns ul li {
  width: 86px;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  footer .social-copy .sns ul li {
    margin-bottom: 0;
  }
}

footer .social-copy .sns ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-right: 11px;
  letter-spacing: 1px;
}

footer .social-copy .sns ul li a img {
  margin-right: 9px;
}

footer .social-copy .sns ul li:nth-child(2) {
  width: 97px;
}

footer .social-copy .sns ul li:last-child > a {
  margin-right: 0;
}

.dimmed {
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.dimmed.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */